{
    "influxdb": {
        "password": "your-influxdb-password"
    },
    "home_assistant": {
        "token": "your-long-lived-access-token"
    },
    "hwc": {
        "emhass_base_url": "http://emhass.YOURHOSTNAME"
    }
}
